<form class="row g-3">
  <label for="inputNombre" class="form-label">Nombre</label>
  <input type="text" class="form-control" id="inputNombre" value={{clientesH[cliente.id].nombre}}
  name="nombre" [(ngModel)]="cliente.nombre">
  <label for="inputApellido" class="form-label">Apellido</label>
  <input type="text" class="form-control" id="inputApellido" value={{clientesH[cliente.id].apellido}} name="apellido" [(ngModel)]="cliente.apellido">
<label for="inputEmail" class="form-label">Email</label>
<input type="email" class="form-control" id="inputEmail" value={{clientesH[cliente.id].correo}} name="correo" [(ngModel)]="cliente.correo">
<label for="inputTelefono" class="form-label">Telefono</label>
<input type="text" class="form-control" id="inputTelefono" value={{clientesH[cliente.id].telefono}} name="telefono" [(ngModel)]="cliente.telefono">
<button type="submit" class="btn btn-primary" (click)="actualizar()">Guardar</button>
</form>
